.stats_card {
  width: 200px; 
  background-color: rgba(165, 0, 0, 0.1);
}

.stats_value {
  font-size: 40px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgba(0, 44, 165, 0.1);
}